# Python
*.egg*
*.py[co]
.cache
.coverage
.ipynb_checkpoints
__pycache__
build
dist
# Sass
.sass-cache
# SQLite
*.db
*.db-journal
# Transient
*.log
*.map
*.out
*.tmp
.DS_Store
data_*
# Vim
*.sw[op]
*~
# node
node_modules/
npm-debug.log*
package-lock.json
# misc
.DS_Store
