body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.selected {
  color: white !important;
  background-color: #ff4081 !important;
}
.highlighted {
  background-color: yellow !important;
}
.capitalized {
  text-transform: capitalize;
}
