.poof {
  display: none !important;
}
.black {
  color: black !important;
}
.gray {
  color: gray !important;
}
.white {
  color: white !important;
}
.selected {
  color: white !important;
  background-color: #ff4081 !important;
}
.capitalized {
  text-transform: capitalize;
}
