.do-not-scroll {
  overflow-x: hidden;
  overflow-y: hidden;
}
.black {
  color: black !important;
}
.gray {
  color: gray !important;
}
.white {
  color: white !important;
}
.selected {
  color: white !important;
  background-color: #ff4081 !important;
}
.highlighted {
  background-color: yellow !important;
}
.capitalized {
  text-transform: capitalize;
}
.spin-animation:hover {
  transition: 0.50s;
  transform: rotate(360deg);
}
.rise-animation:hover {
  transition: 0.50s;
  transform: scale(1.25);
}
.tooltip {
  pointer-events: none;
  position: absolute;
  max-width: 128px;
  /*
  max-width: 256px;
  padding: 8px;
  z-index: 10;
  background: #fff;
  color: #000;
  max-height: 256px;
  overflow-y: hidden;
  */
}
