.black {
  color: black !important;
}
.gray {
  color: gray !important;
}
.white {
  color: white !important;
}
.tooltip {
  pointer-events: none;
  position: absolute;
  max-width: 160px;
  overflow-wrap: break-word;
  word-break: break-all;
}
