<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
<link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css">
<link rel="stylesheet" href="{{ request.static_url('asset_tracker:static/simTree.css') }}">
<title>Asset Tracker</title>
<style>
html, body {
  height: 100%;
}
body {
  padding-top: 3.5rem;
}
.container-fluid {
  padding-left: 0;
}
.toolbar {
  position: absolute;
  top: 0;
  right: 0;
  color: #007bff;
  z-index: 100;
  cursor: pointer;
}
#detail-panel {
  position: relative;
}
#filter ul {
  padding-left: 0;
}
#map {
  height: 500px;
}
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light fixed-top">
<a class="navbar-brand" href="#">Asset Tracker</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle Navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navigation">

<form class="form-inline mr-2 my-2 my-lg-0">
<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
<button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>

<ul class="navbar-nav mr-auto">

<li class="nav-item active">
<a class="nav-link" href="#">Maps <span class="sr-only">(Current)</span></a>
</li>

<li class="nav-item">
<a class="nav-link disabled" href="#">Tables</a>
</li>

<li class="nav-item">
<a class="nav-link disabled" href="#">Reports</a>
</li>

<li class="nav-item">
<a class="nav-link disabled" href="#">Alerts</a>
</li>

</ul>

<ul class="navbar-nav mr-2">
<li class="nav-item disabled"><a class="nav-link" href="#">Alex</a></li>
</ul>

<button id="button-sign-out" class="btn btn-primary my-2 my-sm-0 disabled" type="submit">Sign Out</button>

</div>
</nav>

<main role="main" class="container-fluid h-100">
<div class="row h-100">
<div class="col-8 h-100">

<div class="row h-100">
<div id="map" class="col-10 h-100">
</div>
<div id="filter" class="col-2">
</div>
</div>

</div>
<div class="col-4 h-100">
<div id="circuit" class="h-50">
</div>
<div id="detail-panel">
<span class="toolbar">
<i class="fas fa-edit fa-3x edit-icon d-none"></i>
<i class="fas fa-check fa-3x save-icon d-none"></i>
<i class="fas fa-times fa-3x cancel-icon d-none"></i>
</span>
<form id="detail-form"></form>
</div>
</div>
</div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.2.22/cytoscape.min.js"></script>
<script src="{{ request.static_url('asset_tracker:static/simTree.js') }}"></script>
<script src="{{ request.static_url('asset_tracker:static/substation.js') }}"></script>
<script src="{{ request.static_url('asset_tracker:static/quality.js') }}"></script>
<script src="{{ request.static_url('asset_tracker:static/switch.js') }}"></script>
<script src="{{ request.static_url('asset_tracker:static/transformer.js') }}"></script>
<script src="{{ request.static_url('asset_tracker:static/meter.js') }}"></script>
<script src="{{ request.static_url('asset_tracker:static/line.js') }}"></script>
<script>
var $toolbar = $('#detail-panel .toolbar');

function render_detail(feature) {
  var template = '<div class="form-group row"><label for="K" class="col-sm-2 col-form-label">K</label><div class="col-sm-10"><input type="text" readonly class="form-control-plaintext" name="K" value="V"></div></div>';
  var html = '', properties = feature.properties;
  for (const k in properties) {
    html += template.replace(/K/g, k).replace(/V/g, properties[k]);
  }
  $('#detail-panel .edit-icon').removeClass('d-none').addClass('d-inline');
  $('#detail-panel .save-icon').removeClass('d-inline').addClass('d-none');
  $('#detail-panel .cancel-icon').removeClass('d-inline').addClass('d-none');
  $('#detail-form').html(html);
  $('#detail-form input').on('dblclick', make_detail_form);
  $('#detail-form').data('feature', feature);
  $('#detail-form').data('properties', properties);
}
function make_detail_form() {
  var $inputs = $('#detail-form input');
  $inputs.prop('readonly', false);
  $inputs.removeClass('form-control-plaintext').addClass('form-control');
  $toolbar.find('.edit-icon').removeClass('d-inline').addClass('d-none');
  $toolbar.find('.save-icon').removeClass('d-none').addClass('d-inline');
  $toolbar.find('.cancel-icon').removeClass('d-none').addClass('d-inline');
}

$('#detail-panel .edit-icon').on('click', function() {
  make_detail_form();
});
$('#detail-panel .save-icon').on('click', function() {
  var feature = $('#detail-form').data('feature');
  var properties = {};
  var a = $('#detail-form').serializeArray();
  for (var i = 0; i < a.length; i++){
    properties[a[i]['name']] = a[i]['value'];
  }
  Object.assign(feature.properties, properties);
  render_detail(feature);
});
$('#detail-panel .cancel-icon').on('click', function() {
  var $inputs = $('#detail-form input');
  $inputs.prop('readonly', true);
  $inputs.addClass('form-control-plaintext').removeClass('form-control');
  var feature = $('#detail-form').data('feature');
  render_detail(feature);
});

mapboxgl.accessToken = 'pk.eyJ1Ijoicm1ndWFyYWNoaSIsImEiOiJjamwzdDdseXcyNTk5M3Fuc3p2ZzJmdXdlIn0.cjtHea9XjbVzu7IQDIXsog';
var map = new mapboxgl.Map({
  container: 'map',
  center: [-79.60975239966413, 36.20116405881477],
  zoom: 9,
  style: 'mapbox://styles/mapbox/basic-v9',
  logoPosition: 'top-right'
});

function prepare_point_layer(layer_name, layer_geojson, marker_url) {
  map.loadImage(marker_url, function(error, image) {
    map.addImage(layer_name, image);
    map.addLayer({
      'id': layer_name,
      'type': 'symbol',
      'source': {
        'type': 'geojson',
        'data': layer_geojson
      },
      'layout': {
        'icon-image': layer_name,
        'icon-size': 0.5,
        'visibility': 'none'
      }
    });
    map.on('click', layer_name, function(e) {
      var template = '<div class="form-group row"><label for="K" class="col-sm-2 col-form-label">K</label><div class="col-sm-10"><input type="text" readonly class="form-control-plaintext" name="K" value="V"></div></div>';
      var html = '', properties = e.features[0].properties;
      for (const k in properties) {
        html += template.replace(/K/g, k).replace(/V/g, properties[k]);
      }
      $('#detail-panel .edit-icon').removeClass('d-none').addClass('d-inline');
      $('#detail-form').html(html);
      $('#detail-form input').on('dblclick', make_detail_form);
    });
    map.on('mouseenter', layer_name, function() {
      map.getCanvas().style.cursor = 'pointer';
    });
    map.on('mouseleave', layer_name, function () {
      map.getCanvas().style.cursor = '';
    });
  });
}
function prepare_line_layer(layer_name, layer_geojson) {
  map.addLayer({
    'id': layer_name,
    'type': 'line',
    'source': {
      'type': 'geojson',
      'data': layer_geojson
    },
    'paint': {
      'line-width': ['*', ['get', 'NomV'], 0.1],
    }
  });
  map.on('click', layer_name, function(e) {
    var feature = e.features[0];
    render_detail(feature);
  });
  map.on('mouseenter', layer_name, function() {
    map.getCanvas().style.cursor = 'pointer';
  });
  map.on('mouseleave', layer_name, function () {
    map.getCanvas().style.cursor = '';
  });
};

map.on('load', function() {
  prepare_point_layer('substation', substation_geojson, '{{ request.static_url("asset_tracker:static/substation.png") }}');
  prepare_point_layer('quality', quality_geojson, '{{ request.static_url("asset_tracker:static/quality.png") }}');
  prepare_point_layer('switch', switch_geojson, '{{ request.static_url("asset_tracker:static/switch.jpg") }}');
  prepare_point_layer('transformer', transformer_geojson, '{{ request.static_url("asset_tracker:static/transformer.png") }}');
  prepare_point_layer('meter', meter_geojson, '{{ request.static_url("asset_tracker:static/meter.png") }}');
  prepare_line_layer('line', line_geojson);
  map.addControl(new mapboxgl.NavigationControl());
});

var cy = cytoscape({
  container: $('#circuit'),
  elements: [
    {data: {id: 'a'}},
    {data: {id: 'b'}},
    {data: {id: 'ab', source: 'a', target: 'b'}}
  ],
  style: [
    {selector: 'node', style: {'background-color': '#666', 'label': 'data(id)'}},
    {selector: 'edge', style: {'width': 3, 'line-color': '#ccc'}}
  ],
  layout: {name: 'grid', rows: 1}
});

$('#filter').simTree({
  data: [
    {'id': 0, 'name': 'Station', 'disabled': true},
    {'id': 1, 'name': 'Substation', 'open': true},
    {'id': 1.1, 'pid': 1, 'name': 'Transmission', 'disabled': true},
    {'id': 1.2, 'pid': 1, 'name': 'Distribution', 'disabled': true},
    {'id': 2, 'name': 'Quality', 'open': true},
    {'id': 2.1, 'pid': 2, 'name': 'Capacitor', 'disabled': true},
    {'id': 2.2, 'pid': 2, 'name': 'Regulator', 'disabled': true},
    {'id': 2.3, 'pid': 2, 'name': 'Booster', 'disabled': true},
    {'id': 3, 'name': 'Switch', 'open': true},
    {'id': 3.1, 'pid': 3, 'name': 'Fuse', 'disabled': true},
    {'id': 3.2, 'pid': 3, 'name': 'Breaker', 'disabled': true},
    {'id': 3.3, 'pid': 3, 'name': 'Recloser', 'disabled': true},
    {'id': 3.4, 'pid': 3, 'name': 'Interrupter', 'disabled': true},
    {'id': 3.5, 'pid': 3, 'name': 'Sectionalizer', 'disabled': true},
    {'id': 3.6, 'pid': 3, 'name': 'Relay', 'disabled': true},
    {'id': 4, 'name': 'Transformer', 'open': true},
    {'id': 4.1, 'pid': 4, 'name': 'Distribution', 'disabled': true},
    {'id': 5, 'name': 'Meter', 'open': true},
    {'id': 5.1, 'pid': 5, 'name': 'Residential', 'disabled': true},
    {'id': 5.2, 'pid': 5, 'name': 'Commercial', 'disabled': true},
    {'id': 5.3, 'pid': 5, 'name': 'Industrial', 'disabled': true},
    {'id': 6, 'name': 'Line', 'checked': true},
    {'id': 7, 'name': 'Pole', 'disabled': true},
    {'id': 8, 'name': 'Busbar', 'disabled': true},
    {'id': 9, 'name': 'Control', 'disabled': true, 'open': true},
    {'id': 9.1, 'pid': 9, 'name': 'PLC', 'disabled': true},
    {'id': 9.2, 'pid': 9, 'name': 'Microcontroller', 'disabled': true},
    {'id': 10, 'name': 'Miscellaneous'}],
  check: true,
  linkParent: true,
  onChange: function (item) {
    const layer_ids = [
      'substation',
      'quality',
      'switch',
      'transformer',
      'meter',
      'line',
    ];
    let d_by_layer_id = {};
    for (const d of item) {
      const layer_id = d['name'].toLowerCase();
      d_by_layer_id[layer_id] = d;
    }
    for (const layer_id of layer_ids) {
      if (layer_id in d_by_layer_id) {
        map.setLayoutProperty(layer_id, 'visibility', 'visible');
      } else {
        map.setLayoutProperty(layer_id, 'visibility', 'none');
      }
    }
  }
});
</script>
</body>
</html>
